<!DOCTYPE HTML>
<html>
<head>
    <title>Slotty - Slotcar Racing Management</title> 
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">                              
	racetime = function(data) {
            $("#racetime").append("<p>Controller: "+data.controller+", Lap Time:" +data.lapTime+"</p>");
	};
        $(document).ready(function(){
	        var ws = io.connect("/slotty");

		ws.on('connect', function () {
		    console.log('Socket connected');
		});
		ws.on('disconnect', function (error) {
		    console.log('Socket Error ' + error);
		});
		ws.on('error', function (error) {
		    console.log('Socket Error ' + error);
		});
                ws.on('racetime', function (data) {
		    racetime(data);
                });
        });
    </script>
</head>
<body>
    <!-- add some bootstrap or other fancy UI here -->
    Hello Slotty!
    <div id="racetime"></div>
</body>                                                                          
</html>                                  
