{% extends "base.html" %}
{% block title %}Slotty{% endblock %}
{% block head %}
    {{ super() }}

    <script type="text/javascript" charset="utf-8">
        lap = function(data) {
            console.log(data)
            $("#driver_laptime_"+ data.id).html(data.time.toFixed(3) + ' s');
            $("#driver_fastest_lap_"+ data.id).html(data.fastest.toFixed(3));
            $("#driver_laps_"+ data.id).html(data.laps);
        };
        $(document).ready(function() {
            var address = "/sensors";
            console.log(address);
	        var ws = io.connect(address);

            ws.on('connect', function () {
                console.log('Socket connected');
            });
            ws.on('disconnect', function (error) {
                console.log('Socket disconnected ' + error);
            });
            ws.on('error', function (error) {
                console.log('Socket Error ' + error);
            });
            ws.on('lap', function (data) {
                console.log(data)
                lap(data);
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row">
<!--         <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div> -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzBEOEZEQiIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojZmZmO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4=">
              <h4>1st</h4>
              <span class="text-muted">Driver 4, Round 4</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzM5REJBQyIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojMUUyOTJDO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4=">
              <h4>2nd</h4>
              <span class="text-muted">Driver 2, Round 3</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzBEOEZEQiIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojZmZmO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4=">
              <h4>3rd</h4>
              <span class="text-muted">Driver 1, Round 2</span>
            </div>
          </div>

          <h2 class="sub-header">Racing Results</h2>
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                 <tr>
                <th>
                    Driver
                </th>
                <th>
                    Lap Time
                </th>
                <th>
                    Rounds
                </th>
                <th>
                    Fastest Lap
                </th>
            </tr>
                </thead>
                <tbody>
            {% for controller in range(1,7) %}
            <tr id="row_{{i}}">
                <td>
                    {{controller}}
                </td>
                <td class="lap-time" id="driver_laptime_{{controller}}">
                    0.000 s
                </td>
                <td id="driver_laps_{{controller}}">
                    0
                </td>
                <td class="lap-time" id="driver_fastest_lap_{{controller}}">
                    0.0000s
                </td>
            </tr>
            {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
